@model IPagedList<UrunViewModel>

@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Ürünler</h1>


<p>
    <div class="pull-right">
        @Html.ActionLink(linkText: "Yeni Ürün Ekle", actionName: "UrunEkle", controllerName:"UrunYonetim",null, htmlAttributes: new { @class = "btn btn-success" })
    </div>

</p>

<div class="span12">
    <ul class="thumbnails">
        @foreach (var item in Model)
        {
            <li class="span3">
                <div class="thumbnail">
                    <a href="/UrunYonetim/UrunGuncelle/@item.UrunId"><img src="~/Resimler/@item.UrunResim" alt="Urun Resim" height="120" width="120" /></a>
                    @*@Html.DisplayFor(modelItem => item.UrunResim)*@
                    <div class="caption">   
                        <h5>@Html.DisplayFor(modelItem => item.UrunAd)</h5>
                        
                        <h4 style="text-align:center">
                            @Html.ActionLink(linkText: "Güncelle", actionName: "UrunGuncelle", controllerName: "UrunYonetim", routeValues: new { id = item.UrunId }, htmlAttributes: new { @class = "btn btn-info" })
                            @Html.ActionLink(linkText: "Sil", actionName: "UrunSil", controllerName: "UrunYonetim", routeValues: new { id = item.UrunId }, htmlAttributes: new { @class = "btn btn-danger", onclick = "return confirm('Ürün siliniyor...');" })
                        </h4>
                    </div>
                </div>
            </li>

        }
    </ul>
</div>
<div class="pull-left">

    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Urunler", new { kategoriId = @ViewBag.kategoriId, urunAd = @ViewBag.urunAd, sayfa }), new PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" },


});


    @*@if (ViewBag.urunIsim != null)
         {
             @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("UrunAra", new { urunAd = ViewBag.urunIsim, sayfa }), new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },


        });

         }
         else
         {
             @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Urunler", new { sayfa }), new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },


        });
         }*@


</div>
